# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/slice-server/build.gradle.kts
/slice-server/src/minecraft
/paper-server
/slice-api/build.gradle.kts
/paper-api
/paper-api-generator

.idea/
